@charset "utf-8";

/*
 * @title           网站样式
 * @author          moocss
 * @email           moocss@gmail.com
 * @version         1.0
 * @update          $Date: 2020-07-01 $
 */

@import './base';

/* --------------------------------------------------------------
  primary styles
-------------------------------------------------------------- */
.page-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
}

/*
-------------------------------------------------------------- */
.ui-navbar-placeholder {
  height: 46px;
}
.ui-tabbar-placeholder {
  height: 52px;
}

/*
-------------------------------------------------------------- */


/*
-------------------------------------------------------------- */
