:root {
  --main-bg-color: #ff233b;
}

html.dark {
	background-color: #121212;
}

body {
	@apply font-sans;
}

.page {
	@apply container mx-auto;
}

.minimap {
	position: absolute;
	right: -1px;
	bottom: -1px;
}
.g6-minimap-viewport {

	border: 1px solid #3165f5;
}

.box {
  background-color: var(--main-bg-color);
}
