@charset "utf-8";

/*
 * @title           网站样式
 * @author          moocss
 * @email           moocss@gmail.com
 * @version         1.0
 * @update          $Date: 2019-03-30 $
 */

// 全局样式
@import "./tailwind.css";

// 全局变量
@import './variables';

// 重写 ElementUI 样式
@import "./element-ui";

/* --------------------------------------------------------------
  primary styles
-------------------------------------------------------------- */
// 默认滚动条样式修改
::-webkit-scrollbar {
  width: 0;
  height: 0;
  color: transparent;
}
::-webkit-scrollbar-track-piece {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.8);
  border: 4px solid rgba(255, 255, 255, 0);
  background-clip: content-box;
  border-radius: 12px;
  &:hover {
    background-color:rgba(0, 0, 0, 0.4);
  }
  &:vertical,
  &:horizontal {
    background-color:rgba(0, 0, 0, 0.4);
  }
}

::-webkit-scrollbar-corner {
  background-color: rgba(0, 0, 0, 0.2);
}

.scrollbar:hover {
  &::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }
}

@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}

/* layout
-------------------------------------------------------------- */
.app-container .ui-layout {
  flex-direction: column;
  height: 100vh;
}
.app-container .ui-layout-body {
  overflow: auto;
}

/* 框架选项卡
------------------------------------*/
.aside-menu {
  &-item {
    height: 48px;
    line-height: 48px;
    .el-submenu__title {
      height: 48px;
      line-height: 48px;
      color: rgba(0, 0, 0, 0.8);
    }

    &.children {
      height: auto;
      line-height: normal;
    }
  }
}

/*
------------------------------------*/
