@charset "utf-8";

/*
 * @title           网站样式
 * @author          moocss
 * @email           moocss@gmail.com
 * @version         1.0
 * @update          $Date: 2019-03-30 $
 */

// 全局样式
@import "./tailwind.css";
// ElementUI 样式
@import "./element-ui";

/* --------------------------------------------------------------
  primary styles
-------------------------------------------------------------- */
html,
body {
  height: 100%;
  overflow: hidden;
}

.app-container {
  height: 100vh;
}

/* layout
-------------------------------------------------------------- */

/*
------------------------------------*/


/*
------------------------------------*/
