@charset "utf-8";

/*
 * @title           网站样式
 * @author          moocss
 * @email           moocss@gmail.com
 * @version         1.0
 * @update          $Date: 2019-03-30 $
 */

// 全局样式
@import "./tailwind.css";
// 重写 ElementUI 样式
@import "./element-ui";

/* --------------------------------------------------------------
  primary styles
-------------------------------------------------------------- */
// 默认滚动条样式修改
::-webkit-scrollbar {
  width: 0;
  height: 0;
  color: transparent;
}
::-webkit-scrollbar-track-piece {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.8);
  border: 4px solid rgba(255, 255, 255, 0);
  background-clip: content-box;
  border-radius: 12px;
  &:hover {
    background-color:rgba(0, 0, 0, 0.4);
  }
  &:vertical,
  &:horizontal {
    background-color:rgba(0, 0, 0, 0.4);
  }
}

::-webkit-scrollbar-corner {
  background-color: rgba(0, 0, 0, 0.2);
}

.scrollbar:hover {
  &::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }
}

@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}

/* layout
-------------------------------------------------------------- */
.ui-layout {
  flex-direction: column;
}

/* 框架选项卡
------------------------------------*/
.view-tabs-container {
  background-color: #f5f5f5;
  padding-top: 8px;
  padding: 8px 8px 0;
  border-bottom: 1px solid #dfe4ed;
  .el-tabs__header {
    border: 0 none;
    margin-bottom: 0;
    .el-tabs__nav {
      border: 0 none;
      margin-left: 1px;
      .el-tabs__item {
        position: relative;
        z-index: 1;
        padding: 0 20px;
        margin-left: -1px;
        border: 1px solid transparent;
        border-bottom: 0 none;
        border-radius: 2px 12px 0 0;
        font-size: 14px;
        color: #555;
        line-height: 34px;
        height: 34px;
        user-select: none;
        font-weight: normal;
        .el-icon-close {
          position: absolute;
          right: 10px;
          top: 50%;
          margin-top: -7px;
          font-size: 14px;
        }
        &:before,
        &:after {
          position: absolute;
          top: 50%;
          margin-top: -8px;
          height: 16px;
          content: "";
        }
        &:after {
          right: -1px;
          border-left: 1px solid #dfe4ed;
        }
        &:before {
          left: -1px;
          border-left: 1px solid #dfe4ed;
        }

        &.is-active,
        &:hover {
          z-index: 2;
          padding: 0 35px 0 15px;
          border-color: #dfe4ed;
          background: #fff;
          // background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 20%, rgba(255, 255, 255,1) 100%);
          &:before,
          &:after {
            display: none;
          }
        }
        &:hover {
          border-color: #ddd;
          background-color: #eee;
        }
        &.is-active {
          &:hover {
            background-color: #fff;
          }
        }
        &:first-child {
          &:before {
            display: none;
          }
          padding-right: 15px;
          .el-icon-close {
            display: none;
          }
        }
        &:last-child {
          &:after {
            display: none;
          }
        }
      }
    }
  }

  .el-tabs__nav-wrap {
    .el-tabs__nav-prev,
    .el-tabs__nav-next {
      height: 34px;
      width: 18px;
      text-align: center;
      line-height: 34px;
      border: 1px solid #dfe4ed;
      background-color: #fff;
      &:hover {
        border-color: #1ec6df;
        color: #1ec6df;
      }
    }
  }

  .el-tabs__content {
    height: 0;
    overflow: hidden;
  }
}

/*
------------------------------------*/
