@charset "utf-8";

/* ------------------------------------------------------------------------------
  primary styles
------------------------------------------------------------------------------ */

/* bug
------------------------------------------------------------------------------ */
// 防止图片拉伸或挤压
.img {
    object-fit: cover;
}

html {
    // 让滚动效果更丝滑
    scroll-behavior: smooth;
    // 点击延时问题
    touch-action: manipulation;
}

@supports (-webkit-touch-callout: none) {
    body {
        height: -webkit-fill-available;
    }
}

/* layout styles
------------------------------------------------------------------------------ */
html,
body {
    height: 100%;
}
.app {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.page {
    margin-bottom: constant(safe-area-inset-bottom); /* 兼容 iOS < 11.2 */
    margin-bottom: env(safe-area-inset-bottom); /* 兼容 iOS >= 11.2 */
}

/* page styles
------------------------------------------------------------------------------ */
