@charset "utf-8";

/* ------------------------------------------------------------------------------
  primary styles
------------------------------------------------------------------------------ */

/* bug
------------------------------------------------------------------------------ */
// 防止图片拉伸或挤压
.img {
	object-fit: cover;
}

html {
	// 让滚动效果更丝滑
	scroll-behavior: smooth;
	// 点击延时问题
	touch-action: manipulation;
}

@supports (-webkit-touch-callout: none) {
	body {
		height: -webkit-fill-available;
	}
}

/* layout styles
------------------------------------------------------------------------------ */
html,
body {
	height: 100%;
}
.app {
	display: flex;
	flex-direction: column;
	height: 100%;
}
.page {
	margin-bottom: constant(safe-area-inset-bottom); /* 兼容 iOS < 11.2 */
	margin-bottom: env(safe-area-inset-bottom); /* 兼容 iOS >= 11.2 */
}

/* page styles
------------------------------------------------------------------------------ */
:root {
	--text: black;
}

:root:root {
	--adm-button-border-radius: 2px;
}

html.dark {
	background-color: var(--text);
}

.nav-link {
	@apply text-black hover:text-red-600 p-2 inline-block;

	&.active {
		color: #fa233b;
	}
}

.btn {
	@apply px-4 py-1 rounded inline-block
	  bg-teal-600 text-white cursor-pointer
	  hover:bg-teal-700
	  disabled:cursor-default disabled:bg-gray-600 disabled:opacity-50;
}

.ant-layout-header {
	background-color: #f5f5f5;
}
.ant-layout-sider-dark {
	background-color: #f5f5f5;
}