:root {
  --text: black;
}

html.dark {
  background-color: var(--text);
}

// [data-theme="dark"] {
//   background-color: var(--text);
// }

body {
  @apply font-sans;
}

.page {
  @apply container mx-auto;
}

.btn {
  @apply px-4 py-1 rounded inline-block
    bg-teal-600 text-white cursor-pointer
    hover:bg-teal-700
    disabled:cursor-default disabled:bg-gray-600 disabled:opacity-50;
}