@charset "utf-8";

/* ------------------------------------------------------------------------------
  primary styles
------------------------------------------------------------------------------ */

/* bug
------------------------------------------------------------------------------ */
// 防止图片拉伸或挤压
.img {
	object-fit: cover;
}

html {
	// 让滚动效果更丝滑
	scroll-behavior: smooth;
	// 点击延时问题
	touch-action: manipulation;
}

@supports (-webkit-touch-callout: none) {
	body {
		height: -webkit-fill-available;
	}
}

ol,
ul {
	margin: 0;
	list-style: none;
}

.ant-layout {
	min-height: 100vh;
}

.ant-pro-card .ant-pro-card-body {
	padding: 24px;
}

.ant-pro-sider.ant-layout-sider.ant-pro-sider-fixed {
	left: unset;
}

canvas {
	display: block;
}

/* layout styles
------------------------------------------------------------------------------ */
.app {
	height: 100vh;
}

/* page styles
------------------------------------------------------------------------------ */
button {
	border: 0 none;
	border-radius: 6px;
	padding: 4px 8px;
	line-height: 20px;
	color: #fff;
	background-color: #ff233b;
}
.loading {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
}

.dark {
	background-color: #08090a;
	color: #fff;
}
