@charset "utf-8";

/* ------------------------------------------------------------------------------
    common styles
------------------------------------------------------------------------------ */

/**
 * clearfix
 */
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
  visibility: hidden;
  font-size: 0;
  height: 0;
}
.group {
  zoom: 1;
  display: flow-root;
}

/**
  * clear
  */

.clear {
  clear: both;
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  width: 0;
}

/**
  * text align
  */

.tc {
  text-align: center;
}

.tr {
  text-align: right;
}

.tj {
  text-align: justify;
  text-justify: inter-ideograph;
}

/* float */
.pull-left,
.fl {
  float: left;
}

.pull-right,
.fr {
  float: right;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

.invisible {
  visibility: hidden;
}

/* 连续字符换行 */
.wrap {
  white-space: normal;
  word-wrap: break-word;
  word-break: break-all;
}

/* 连续字符不换行 */
.nowrap {
  white-space: nowrap;
  word-wrap: normal;
}

/* 文字溢出显示省略号 */
.ellipsis {
  display: block;
  white-space: nowrap;
  word-wrap: normal;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  text-align: left;
}

/* hr */
.hr {
  clear: both;
  display: block;
  overflow: hidden;
  height: 0;
  font-size: 0;
  border-bottom: 1px solid #cdcdcd;
}

/* hide text */
.hide-text,
.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* disabled */
.disabled {
  opacity: 0.4;
  filter: alpha(opacity=40);
  cursor: default;
  -ms-pointer-events: none;
  pointer-events: none;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
